# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'

df = pd.read_csv(url)

In [11]:
#Numero de filas y columnas del DataFrame:
n_filas, n_columnas = df.shape 

print(f"Tiene {n_filas} filas y {n_columnas} columnas")

Tiene 4008 filas y 11 columnas

In [10]:
#tipos de datos de cada columna:
data_types = df.dtypes

print("Tipos de datos de cada columna: ")
print(data_types)

#los siguientes tipos se tienen que pasar de object a float: Customer Lifetime Value y Number of Open Complaints

Tipos de datos de cada columna:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [12]:
#identifica columnas categoricas y unicas:

#numero de valores unico para cada columna:
v_unicos = df.nunique()
print("Número de valores unicos para cada columna: ")
v_unicos

Número de valores unicos para cada columna:

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [13]:
#estadisticas para columnas numericas
estadstica = df.describe()
print("Estadistica: ")
estadstica

Estadistica:

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [14]:
#estadistica para columnas categoricas

categoricas = df.describe(include='object')

print("Resumen estadistico de las columnas categoricas:")
categoricas

Resumen estadistico de las columnas categoricas:

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,RB50392,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [15]:
#ST contiene las localizaciones y contamos la frecuencia de cada localizacion
location_counts = df['ST'].value_counts()

#ordena de menor a mayor con la funcion sort.values()
sorted_ = location_counts.sort_values()

#Selecciona las 5 primeras ubicaciones con la funcion head para conocer las ubicaciones menos comunes
top_5 = sorted_.head(5)

print("Top 5 ubicaciones de clientes menos comunes: ")
top_5

Top 5 ubicaciones de clientes menos comunes:

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [16]:
#contar el numero de polizas vendidas por cada tipo de poliza
policy_counts = df['Policy Type'].value_counts()

print("Polizas vendias por cada tipo de poliza:")
print(policy_counts)

#tipo de polizas mas vendidas
highestnum_policytype = policy_counts.idxmax()

#calculo el maximo de el tipo de polizas mas vendidas
max_policy = policy_counts.max()

print(f"El tipo de poliza con un mayor numero de polizas vendidas es '{highestnum_policytype}' con '{max_policy}' polizas vendidas")

Polizas vendias por cada tipo de poliza:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
El tipo de poliza con un mayor numero de polizas vendidas es 'Personal Auto' con '780' polizas vendidas

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [17]:
#Uso loc para crear dos DataFrames donde en uno el Policy Type sea Personal Auto y en el otro Corporate Auto
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']

corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

#Calcula el average de cada uno con la funcion mean en la columna del Income(ingresos)
average_income_personal_auto = round(personal_auto_df['Income'].mean(), 2)

average_income_corporate_auto = round(corporate_auto_df['Income'].mean(), 2)

#Imprimimos el average por cada tipo de poliza
print("Average income for Personal Auto Polices: ", average_income_personal_auto)

print("Average income for Corporate Auto Polices: ", average_income_corporate_auto)

Average income for Personal Auto Polices:  38180.7
Average income for Corporate Auto Polices:  41390.31